:root{
    --alpha-color: #FFF;
    --primary-color: #D8F3DC;
    --secondary-color: #B7E4C7;
    --third-color: #95D5B2;
    --fourth-color: #74C69D;
    --fifth-color: #52B788;
    --sixth-color: #40916C;
    --seventh-color: #009444;
    --eigth-color: #1B4332;
    --ninth-color: #081C15;
 }

*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color:var(--seventh-color);
    margin:0;
    padding:0;
}

header{
    display:flex;
    justify-content:center;
    height:120px;
    background-color:var(--alpha-color);
}

.container{
    display:flex;
    width:990px;
    
    justify-content:space-between;
}
.logo{
    display:flex;
    align-items:center;

}

.menu{
    display:flex;
    align-items:center;
}
nav, ul
nav, li{
        list-style:none;
        margin:0px;
        padding:0px;    
}
nav, ul{
display:flex;
}
nav a{
    display:block;
    padding:15px;
    text-decoration:none;
    text-transform:uppercase;
    color:var(--fifth-color);
}

nav a:hover{
    background-color:var(--seventh-color);
    color: var(--primary-color);
    border-radius: 20px 5%;
}

#banner{
    display: flex;
    justify-content: center;
    background-image:url('../../images/img1.jpg');
    background-position:center;
    background-size:cover;
    height:670px;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: var(--eigth-color);
    font-size: 50px;
    text-shadow:  1px 1px 0px #000;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
}
.banner_headline h2{
    font-size: 19px;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
    margin-top: 30px;
    color: var(--ninth-color);
}
.banner_options{
    height: 210px;
    display: flex;
}
.banner1, .banner2, .banner3{
    flex: 1;
    color: var(--third-color);
    padding: 20px;
}
.banner1{
    background-color: var(--sixth-color);
}
.banner2{
    background-color: var(--seventh-color);
}
.banner3{
    background-color: var(--eigth-color);
}
.banner_title{
    font-size: 20px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.banner_options a{
    display: inline-block;
    border:1px solid var(--alpha-color);
    padding: 5px;
    color: var(--third-color);
    font-size: 13px;
    text-decoration: none;
}
.banner_day, .banner_time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 12px;
}
.banner_day{
    border-bottom: 1px solid var(--third-color);
}

#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}

.widget_title{
margin-top: 30px;
margin-bottom: 20px;
}
.widget_title_text{
color: var(--secondary-color);
font-size: 21px;
font-weight: bold;

}
.widget_title_bar{
width: 50px;
height: 3px;
background-color: var(--fifth-color);
margin-top: 10px;
}

.dp{
    display: flex;
    
}
.dp1, .dp2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    
}
.departament{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: var(--ninth-color);
    margin-bottom: 25px;
}
.text{
    color: var(--secondary-color);
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom:1px solid var(--secondary-color);

}
.contato{
    margin-top: 10px;
    display: flex;
    color: var(--secondary-color);
    font-size: 15px;
    color: var(--secondary-color);
    padding-bottom: 10px;
    border-bottom:1px solid var(--secondary-color);
}
.text1{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img{
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}
.email{
    margin-top: 10px;
    display: flex;
    color: var(--secondary-color);
    font-size: 15px;
    color: var(--secondary-color);
    padding-bottom: 10px;
    border-bottom:1px solid var(--secondary-color);
}
.form{
    margin-top: 10px;
    display: flex;
    color: var(--secondary-color);
    font-size: 15px;
    color: var(--secondary-color);
    padding-bottom: 20px;
    border-bottom:1px solid var(--secondary-color);
}
.flex{
    display: flex;
    flex-wrap: wrap;
    
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 25px;
}
article a{
    text-decoration: none;
}
article .news_data{
    display: flex;
    
}
article .news_posted_at{
    color: var(--secondary-color);
    background-color: var(--eigth-color);
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments{
    color: var(--secondary-color);
    background-color: var(--sixth-color);
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color:var(--secondary-color);
}
article .news_resume{
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 20px;
}
footer{
    background-color: var(--seventh-color);
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
}
.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: var(--secondary-color);
    
}
.footer_menu a{
    display: block;
    text-decoration: none;
    padding: 20px;
}
.fm_1{
    background-color: var(--sixth-color);
}
.fm_2{
    background-color: var(--seventh-color);
}
.fm_3{
    background: var(--eigth-color);
}
.footer_area{
    display: flex;
    background-color: var(--ninth-color);
}
.footer_areaitem{
    flex:1;
    color: var(--secondary-color);
    margin-bottom: 30px;

}
.flexcolumn{
    flex-direction: column;
}
.footer_copy{
    border-top:1px solid var(--secondary-color) ;
    height: 40px;
    line-height: 40px;
    background-color: var(--ninth-color);
    color: var(--secondary-color);
    font-size: 12px;
}
.text_footer{
    margin-left: 5px;
    font-size: 12px;
    max-width: 300px;
    margin-top: 20px;
}
.address{
    margin-left: 5px;
    margin-top: 20px;
    font-size: 12px;
    max-width: 100px;
}
.phone_number{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 20px;
}
.social img{
    width:20px;
    height: 20px;
    padding: 1px;
    margin-top: 20px;
    margin-left: 5px;
}
.post1{
    font-size: 12px;
    margin-top: 20px;
    max-width: 250px;
    display: flex;
    justify-content: end;
}
.seta img{
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
.post1 img{
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
.time_post{
    color: var(--fifth-color);
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
}
.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: var(--seventh-color);

}
@media (max-width:600px){
    .banner_headline h1{
        font-size: 55px;
        max-width: 80%;
        margin-left: 20px;
    }
    .banner_headline h2{
        font-size: 17px;
        max-width: 80%;
        margin-left: 20px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
        
    }
    .container{
        flex-direction: column;
        height: auto;
    }
    section .widget{
        height: auto;
        margin-top: 250px;
    }
    .news_data{
        margin-top: 25px;
    }
    #geral section,
    #geral aside
    {
        padding: 20px;
    }
    .footer_menu{
        flex-direction: column;
    }
    .footer_area{
        flex-direction:column;
        padding: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }
    header .container{
        flex-direction: row;
    }
    .dp{
        justify-content: center;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--alpha-color);
        margin-top: 120px;
    }
    header{
        height: auto;
    }
    .logo{
        padding-left: 20px;
    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}